%table
  %tr
    %td Exercise
    %td Weight
    %td Reps
    %td Sets
  %tr
    %td
      %label{:type => "text", :id => "lift_exercise"}
    %td{:id => "lift_weight"}
    %td{:id => "lift_reps"}
    %td{:id => "lift_sets"}
