%a.twitter-share-button-template{"data-related" => "_weightd", 
  "data-size" => "large", 
  "data-text" => "", 
  "data-dnt" => "true",
  "data-count" => "none",
  "data-url" => "none",
  :style => "display:none;",
  :href => "https://twitter.com/share"}
.twitter-share-button-div
