%h1 Welcome to Sets Across
%h3 A Site for Strength

%div
  %label Exercise
  %input 
  %br

  %label Weight
  %input 
  %br

  %label Reps
  %input 
  %br

  %label Sets
  %input 
  %br

  %input{:type => "submit", :value => "Submit", :class => "button"}

%a.twitter-share-button-template{"data-related" => "sets_across", 
  "data-size" => "large", 
  "data-text" => "I just completed Squats: 170X5X3", 
  "data-via" => "sets_across", 
  :style => "display:none;",
  :href => "https://twitter.com/share"} Tweet
.twitter-share-button-div
