%h1 Welcome to Sets Across
%h3 A Site for Strength

%div
  %label{:for => "exercise"} Exercise
  %input{:type => "text", :id => "exercise"} 
  %br

  %label{:for => "weight"} Weight
  %input{:type => "text", :id => "weight"} 
  %br

  %label{:for => "reps"} Reps
  %input{:type => "text", :id => "reps"} 
  %br

  %label{:for => "sets"} Sets
  %input{:type => "text", :id => "sets"} 
  %br

  %input{:type => "submit", :value => "Submit", :class => "button"}

%a.twitter-share-button-template{"data-related" => "sets_across", 
  "data-size" => "large", 
  "data-text" => "I just completed Squats: 170X5X3", 
  "data-via" => "sets_across", 
  :style => "display:none;",
  :href => "https://twitter.com/share"} Tweet
.twitter-share-button-div
