%body
  .centrecontainer
    .outercontainer
      .header
        %h2 Welcome to Sets Across
        .menu
      .container
        .containerleft{:style => "background-image: url(#{image_path "power_barbell.gif"})"}
          

        .containerright
          %h2 Workout

          .inputs
            %label{:for => "exercise"} Exercise
            =select_tag("exercise", "<option>Squat</option><option>Deadlift</option><option>Press</option><option>Bench Press</option>".html_safe)
            %br

            %label{:for => "weight"} Weight
            %input{:type => "text", :id => "weight"} 

            %label{:for => "reps"} Reps
            %input{:type => "text", :id => "reps"} 

            %label{:for => "sets"} Sets
            %input{:type => "text", :id => "sets"} 

          %input{:type => "submit", :value => "Submit", :class => "button"}

          %a.twitter-share-button-template{"data-related" => "sets_across", 
            "data-size" => "large", 
            "data-text" => "I just completed Squats: 170X5X3", 
            "data-via" => "sets_across", 
            :style => "display:none;",
            :href => "https://twitter.com/share"} Tweet
          .twitter-share-button-div
      %h2 A Site for Strength
